@font-face {
    font-family: 'Geist';
    src: url('./assets/GeistVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --background-primary: #f4f4f4;
    --foreground-primary: #161616;
    --foreground-subtle: #6b6b6b;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Geist', sans-serif;
    color: var(--foreground-primary);
    background-color: var(--background-primary);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: 900;
    font-size: 20vw;
    line-height: 1.1;
    margin: 0;
}

p {
    font-size: max(1.5vw, 16px);
    font-weight: 300;
    margin: 0;
}

button {
    font-family: 'Geist', sans-serif;
    font-size: min(16px, 2vw);
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    margin-top: 1vw;
}


canvas {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: calc(100vw - 4vw);
    height: calc(100vh - 4vw);
    border-radius: 12px;
    touch-action: none;
}

section {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    z-index: 10;
    color: #ffffff;
}

section svg path{
    stroke: #ffffff;
}
