@font-face {
    font-family: 'Geist';
    src: url('./assets/fonts/GeistVF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --background-primary: #f4f4f4;
    --foreground-primary: #161616;
    --foreground-subtle: #6b6b6b;


    --font-family-primary: 'Geist', sans-serif;
    --font-size-heading-xl: max(48px, 12vw);
    --font-size-heading-l: max(40px, 8vw);
    --font-size-heading-s: max(20px, 2vw);
    --font-size-body-l: max(1.5vw, 20px);
    --font-size-body-m: max(1.2vw, 16px);

    --space-s: 2vw;
    --space-xs: 1vw;

    --border-radius-m: 1vw;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    color: var(--foreground-primary);
    background-color: var(--background-primary);
    margin: 0;
}

/* Text Styles */

h1 {
    font-weight: 900;
    font-size: var(--font-size-heading-l);
    line-height: 1.1;
    margin: 0;
}

h2 {
    font-weight: 900;
    font-size: var(--font-size-heading-s);
    line-height: 1.1;
    margin: 0;
}

p {
    font-size: var(--font-size-body-l);
    font-weight: 300;
    margin: 0;
}

a {
    font-size: var(--font-size-body-m);
    font-weight: 300;
    text-decoration: none;
    color: var(--foreground-primary);
    text-underline-offset: 0em;
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.35em;
}

button {
    font-family: 'Geist', sans-serif;
    font-size: min(16px, 2vw);
    padding: 4px 8px;
    border-radius: var(--border-radius-m);
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    margin-top: 1vw;
}

/* Page Home */

.title {
    display: flex;
    align-items: baseline;
    font-size: var(--font-size-heading-xl);
}

.lower {
    display: flex;
    justify-content: center;
    width: calc(max(14px, calc(var(--font-size-heading-xl) * 0.15)) * 4);
    font-weight: 300;
    font-size: max(14px, calc(var(--font-size-heading-xl) * 0.15));
    overflow: hidden;
    animation: fade 1.4s ease-in-out 1s forwards;
}

@keyframes fade {
  0% {
    width: calc(max(14px, calc(var(--font-size-heading-xl) * 0.15)) * 4);
    opacity: 1;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}

canvas {
    width: calc(100vw - var(--space-s) * 2.0);
    height: calc(100vh - var(--space-s) * 2.0);
    margin: var(--space-s);
    border-radius: var(--border-radius-m);
    touch-action: none;
}

/* Layout */

section {
    width: 100vw;
    margin: 0 auto;
    padding: var(--space-s);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.intro {
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}

section.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Component Navigation */

.navigation-container {
    padding: var(--space-s);
    display: flex;
    align-items: flex-start;
    gap: var(--space-s);
}

.navigation-container > div {
    width: 100%;
}

/* Component Teaser */

.teaser-container {
    width: 100%;
}

.teaser-image {
    width: 100%;
    aspect-ratio: 5/3;
    background-color: var(--foreground-subtle);
    border-radius: var(--border-radius-m);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.teaser-title {
    width: 100%;
    text-align: left;
    margin-top: var(--space-xs);
}

@media (max-width: 820px) {
    section.grid {
        grid-template-columns: 1fr;
    }
}
