@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --color-foreground-primary: #ffffff;
    --color-background-primary: #0f0f0f;
    --color-background-subtle: #212121;

    --font-family-primary: 'Geist', sans-serif;
    --font-family-decorative: 'Libre Baskerville', serif;

    --font-size-lg: 3rem;
    --font-size-md: 1.5rem;
    --font-size-sm: 1rem;

    --font-weight-primary: 400;
    --font-weight-emphasis: 700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    margin: 0;
    color: var(--color-foreground-primary);
    background-color: var(--color-background-primary);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    font-size: var(--font-size-sm);
    color: var(--color-foreground-primary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.heading-lg {
    font-family: var(--font-family-decorative);
    font-weight: var(--font-weight-emphasis);
    font-size: var(--font-size-lg);
}
