@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-primary: #fafafa;
    --foreground-primary: #161616;
    --foreground-subtle: #6b6b6b;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--foreground-primary);
    background-color: var(--background-primary);
    margin: 0;
    padding: 4% 8%;
}

h1 {
    font-weight: 700;
    font-size: 1.75rem;
}

a {
    color: var(--foreground-subtle);
    border-bottom: 1px dashed var(--foreground-subtle);
    padding-bottom: 2px;
    text-decoration: none;
}


a:hover {
    color: var(--foreground-primary);
    border-bottom: 1px solid var(--foreground-primary);
}

.cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: var(--foreground-primary);
    border: 2px solid var(--foreground-primary);
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.1s ease;
}

.cta:hover {
    border: 2px solid var(--foreground-primary);
    transform: scale(1.1);
}

canvas {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: min(40vh, 40vw);
    height: min(40vh, 40vw);
    border-radius: 12px;
}

section {
    margin: 3rem 0;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #161616;
        --foreground-primary: #fafafa;
        --foreground-subtle: #b0b0b0;
    }
}